<a href="https://colab.research.google.com/github/KishanRaj0007/ML-Assignment/blob/main/Assignment9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("Enter the number of elements in list"))
li = []
count = 0
for x in range(0,a):
  n = int(input("Enter the element"))
  li.append(n)
print("Entered list is:-")
print(li)

def bubbleSort(li):

	n = len(li)
	for i in range(n):
		for j in range(0, n - i - 1):
			if li[j] > li[j + 1]:
				li[j], li[j + 1] = li[j + 1], li[j]

bubbleSort(li)

print("Sorted list is:")
print(li)

Enter the number of elements in list5
Enter the element2
Enter the element9
Enter the element1
Enter the element7
Enter the element5
Entered list is:-
[2, 9, 1, 7, 5]
Sorted list is:
[1, 2, 5, 7, 9]

In [ ]:
dict = {
    "January":31,
    "February":35,
    "March":45
}
max = 0
for x in dict.values():
  if x > max:
    max = x
for x in dict.keys():
  if max == dict.get(x):
    print("The month having highest temperature is :",x)
    break

The month having highest temperature is : March

In [ ]:
def is_prime(a):
  count = 0
  for x in range(a+1):
    if x == 0:
      continue
    if a % x == 0:
      count = count+1
  if count == 2:
    return True
  else:
    return False

print("All prime number from 1 to 100 are as follows")
for x in range(1,101):
  if is_prime(x) == True:
    print(x)

All prime number from 1 to 100 are as follows
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
li=[]
for x in range(2,21):
  if x % 2 == 0:
    li.append(x*x)
print(li)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
# Open the file in read mode
text = open("/content/sample_data/kishan.txt", "r")

for x in text:
  print(x)

my name is kishan

i am in computer lab